services:
  postgres:
    image: postgres:latest
    environment:
      - POSTGRES_DB=intsisestoque
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=admin
    ports:
      - "5453:5432"
  rabbitmq:
    image: rabbitmq:latest
    environment:
      - RABBITMQ_DEFAULT_PASS=admin
      - RABBITMQ_DEFAULT_USER=admin
    ports:
      - "5672:5672"

