services:
  postgres:
    image: postgres:latest
    env_file:
      - .env.postgres
    ports:
      - "5453:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 3s
      retries: 5


  rabbitmq:
    image: rabbitmq:latest
    env_file:
      - .env.rabbitmq
    ports:
      - "5672:5672"

  estoque:
    image: rian011/intsis-estoque:1.0.0
    env_file:
      - .env.estoque
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    ports:
      - "8080:8080"

